{% extends "::layout.html.twig" %}


{% block title %}

  Inscription - {{ parent() }}

{% endblock %}

{% block body %}

  <h2>Inscription</h2>


 {#  {{ include("OCPlatformBundle:Advert:form.html.twig") }} #}


  <p>

 Formulaire...

  </p>




{% endblock %}


