{% extends "layout.html.twig" %}


{% block title %}

  Inscription - {{ parent() }}

{% endblock %}

{% block body %}

  <section id="inscription" name="inscription">
    <!-- INTRO WRAP -->
        <div class="row centered">
          <h1>Inscription</h1>
          <br>
          <br>
          <div class="wrapper fadeInDown zero-raduis">
            <div id="formContent">
              <!-- Tabs Titles -->
    
              <!-- Icon -->
              <div class="fadeIn first">
                <!-- <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" /> -->
                <h2 class="my-5">Inscrivez-vous</h2>
              </div>
    
              <!-- Login Form -->
              <form>
				<input type="text" id="name" class="fadeIn second zero-raduis" name="name" placeholder="Nom">
				
                <input type="email" id="email" class="fadeIn second zero-raduis" name="email" placeholder="Adresse e-mail">
                <input type="text" id="password" class="fadeIn third zero-raduis" name="login" placeholder="Mot de passe">
				
                  <div id="formFooter">
                </div>
                <input type="submit" class="fadeIn fourth zero-raduis" value="S'inscrire">

                              </form>
              <h2>Déjà inscrit ?</h2>
              <form action="{{ path('connexion') }}">
				        <input type="submit" class="fadeIn fourth zero-raduis pc" value="Connectez-vous">
			        </form>
              </form>
              
    
            </div>
      </div>
        </div>
        <br>
        <hr>




{% endblock %}


