
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Votre compte a été crée !</title>
</head>
<body>
    <p>
        Bonjour, <br>
        Un nouveau message a été envoyé par un visiteur <br>
        ---------------------------------------------------- <br>
        Nom : {{nom}}<br>
        Adresse mail : {{email}}<br>
        Sujet : {{sujet}}<br>
        Message : {{message}}<br>
        A bientot sur Estimation.com !
    </p>
</body>
</html>
