{% extends "layout.html.twig" %}

{% block title %}

  Connexion - {{ parent() }}

{% endblock %}

{% block body %}

<div id="questionnaire">
    </div>
   
    <script src="../../resources/static/js/app.js" ></script>
    <script src="../../resources/static/js/runtime.js" ></script>
    <script src="../../resources/static/js/app2.js" ></script
  
{% endblock %}