


<!DOCTYPE html>

<html>

  <head>

    <title>Estim</title>

  </head>

  <body>
<h1> Les informations entrée  .. </h1>
    <h3>Ville : {{ ville }} !</h3>
    <h3>Surface: {{ surface }} !</h3>
    <h3>Nombre de chambre : {{ nb }} !</h3>

<h1> Le cout estimer pour la construction .. </h1>
<h3> {{ cout }} euros </h3>*/ 
  
  </body>

</html>