{% extends "::layout.html.twig" %}

{% block title %}

  Accueil - {{ parent() }}

{% endblock %}


{% block body %}


  <h2>Page d'accueil</h2>


  <ul>

      <li>A faire</li>

  </ul>


{% endblock %}