{% for message in app.flashes('notice') %}
    <div class="flash-notice">
        {{ message }}
    </div>
{% endfor %}
{% for message in app.flashes('success') %}
<div class="alert alert-success">
{{ message }}
 </div>

        {% endfor %}
		
		{% for message in app.flashes('danger') %}

            <div class="alert alert-danger" role="alert">

                {{ message }}

            </div>

        {% endfor %}