    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <div class="small-12 medium-8 medium-offset-2 large-6 large-offset-3 cell">

                <h1>Mot de passe oublié ?</h1>
                <p>Demandez à réinitialiser votre mot de passe en renseignant votre mail.</p>

                {{form_start(form)}}
                {{form_row(form.email)}}
                <button class="button" type="submit">Envoyer</button>
                {{form_end(form)}}
            </div>
        </div>
</div>